@import url("reset.css");

* {
  box-sizing: border-box;
}

#clearfix:before,
#clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.wrap {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

.video_box {
  width: 100%;
  height: 900px;
  position: relative;
}

.video_box > .video_txt {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0 100px;
}

.title {
  text-align: center;
}

.video_txt h1 {
  font-size: 3.5rem;
  font-weight: 200;
  color: white;
  margin-bottom: 20px;
}

.video_txt p {
  font-size: 17px;
  line-height: 25px;
  color: white;
  text-align: center;
}

#myVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9999;
}

#play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #fff;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin: 50px auto;
}

#play #angle {
  display: block;
  border-left: 20px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: none;
  margin-left: 5px;
}

#play #mute {
  display: none;
  position: relative;
  width: 7px;
  height: 25px;
  background: #fff;
  margin-right: 15px;
}

#play #mute:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  background: #fff;
  width: 7px;
  height: 25px;
}

#started {
  width: 280px;
  height: 70px;
  background: #7accc8;
  color: white;
  font-size: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.section1 {
  width: 100%;
  height: 750px;
  background: #e8b968;
  padding: 100px 0 180px 200px;
}

.section1 h2 {
  font-size: 40px;
  font-weight: 300;
  color: white;
  line-height: 53px;
}

.section1 p {
  width: 50%;
  height: auto;
  color: white;
  font-size: 14px;
  line-height: 30px;
  margin: 20px 0;
  text-align: left;
}

.downloadBtn {
  width: 280px;
  height: 70px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background: none;
  border: 1px solid #fff;
  outline: none;
}

.section2 {
  width: 100%;
  height: 1430px;
}

.section_1 {
  width: 100%;
  height: 600px;
  background: url("http://cfile201.uf.daum.net/image/9939D9345C9E50E130B76E")
    no-repeat;
  background-size: cover;
}

.opacity_box {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(91, 104, 105, 0.9),
    rgba(91, 104, 105, 1)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
  position: relative;
}

.opacity_box:after {
  display: block;
  content: "";
  position: absolute;
  border-top: 28px solid rgba(91, 104, 105, 1);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  top: 99%;
}

.caric {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  text-align: center;
}

.caric img {
  width: 120%;
  height: 120%;
}

.opacity_box p {
  font-size: 40px;
  color: white;
  line-height: 50px;
  text-align: center;
}

.circle_box {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_box > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px;
}

.circle_box > span:nth-child(2) {
  background: #fff;
}

.section_2 {
  width: 100%;
  height: 600px;
  background: lightblue;
}

.section_3 {
  width: 100%;
  background: lightblue;
  height: 230px;
}

.section3 {
  width: 100%;
  height: 750px;
  background: #f6f6f4;
  padding: 100px 200px 160px;
}

.left {
  width: 60%;
  height: 100%;
  float: left;
}

.right {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
}

.left_content {
  width: 48%;
  height: 100%;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
}

.color_box {
  width: 100%;
  height: 65%;
}

.left_content:first-child .color_box {
  background: #f69679;
}

.left_content:last-child .color_box {
  background: #e8b968;
}

.text_box {
  width: 100%;
  height: 35%;
  background: #fff;
  padding: 30px 45px 60px;
  font-family: "Lato", sans-serif;
}

.text_box p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 200;
  margin-bottom: 20px;
}

.text_box span {
  font-style: italic;
  font-weight: 400;
}

.right_text h4 {
  font-size: 45px;
  line-height: 53px;
  color: #abbcc3;
}

.right_text p {
  font-size: 16px;
  color: #abbcc3;
  line-height: 30px;
  margin-top: 25px;
}

.btnbox {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btnbox button {
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: #555;
  font-weight: 400;
  margin: 5px;
}

footer {
  width: 100%;
  height: 700px;
  background: #7accc8;
  padding: 70px 205px 235px;
}

.footer_content {
  width: 100%;
  height: 80%;
}

.footer_content p {
  width: 45%;
  height: 100%;
  text-align: left;
  color: white;
  display: inline-block;
  float: left;
  padding: 0 40px 0 0;
}

.box_link {
  width: 10%;
  height: 100%;
  text-align: left;
  display: inline-block;
  float: left;
}

.box_link a {
  display: block;
  color: white;
  margin-bottom: 15px;
}

.address {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 12px;
  letter-spacing: 5px;
  color: white;
  padding: 60px 0 0;
}
