@import url(reset.css);

.wrap {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 1060px;
  background: #0c1f09;
  position: relative;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  z-index: 99999;
  color: white;
  font-size: 3rem;
  display: block;
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
}

.next {
  right: 100px;
}

.prev {
  left: 100px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 50px 100px 20px;
  z-index: 9999;
  transition: 0.3s;
}

.logo {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.logo span {
  color: #17daa3;
}

.nav_a {
  width: 70%;
  height: 100%;
  float: left;
  text-align: right;
  padding: 10px 0 0;
}

.nav_a a {
  color: white;
  margin: 0 30px;
}

.search_btn {
  display: block;
  width: 10%;
  height: 100%;
  float: left;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  padding: 10px 0 0;
}

.header_slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_items {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.header_text {
  position: absolute;
  z-index: 9988;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header_text h2 {
  display: block;
  font-size: 3rem;
  color: white;
  margin-bottom: 15px;
  font-weight: 300;
}

.header_text h2 span {
  font-weight: 700;
}

.header_text p {
  display: block;
  font-size: 1.2rem;
  color: white;
  word-spacing: 3px;
  margin: 15px 0;
}

.header_text button {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin: 40px auto;
  background: none;
  outline: none;
  border: 1px solid #fff;
  color: white;
  font-size: 1rem;
}

main {
  width: 100%;
  height: auto;
}

.about {
  width: 100%;
  height: 1100px;
  background: #fff;
  padding: 50px 0;
}

.about_text {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_text h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
  color: #576671;
}

.under {
  display: block;
  width: 30px;
  height: 1px;
  background: #17daa3;
  margin-bottom: 40px;
}

.about_text p {
  color: #87949e;
  font-size: 0.8rem;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 280px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon_box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #555;
  margin: 20px;
  transition: 0.33s;
}

.icon_box:hover {
  background: #17daa3;
  color: #fff;
}

.items h3 {
  font-size: 1.7rem;
  margin: 20px 0;
}

.items p {
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  margin: 20px 0;
  color: #87949e;
}

.btn_box {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_box button {
  width: 180px;
  height: 45px;
  border: none;
  background: #17daa3;
  color: white;
  outline: none;
  border-radius: 50px;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.text_box {
  width: 100%;
  height: 1400px;
}

.text_box_items {
  width: 100%;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 260px;
}

.text_box_items:first-child {
  background: #f9f9fa;
  align-items: flex-end;
}

.text_box_items:nth-child(2) {
  align-items: flex-start;
}

.box_container {
  text-align: left;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 60px 30px;
}

.box_container h4 {
  font-size: 4rem;
  font-weight: 400;
}

.box_container p {
  line-height: 30px;
  color: #87949e;
}

.box_container button {
  width: 180px;
  height: 45px;
  border: none;
  background: #17daa3;
  color: white;
  outline: none;
  border-radius: 50px;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.slide_sec {
  width: 100%;
  height: 700px;
}

.services {
  width: 100%;
  height: 1060px;
  background: #6f3092;
}

.team {
  width: 100%;
  height: 1160px;
  background: #ac093d;
}

.pricing {
  width: 100%;
  height: 1800px;
  background: #ff00cc;
}

.procing_top {
  height: 1050px;
}

.procing_botm {
  height: 750px;
}

footer {
  width: 100%;
  height: 1500px;
  background: #101030;
}

.footer_box {
  width: 100%;
  height: 750px;
}

.circlc_btn {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.circle {
  display: block;
  width: 7px;
  height: 7px;
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.5s;
}

.showing {
  z-index: 999;
  opacity: 1;
}

.circles {
  background: #fff;
  width: 8px;
  height: 8px;
}
