@import url("reset.css");

#clearfix,
#clearfix:before,
#clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
}

.header_f {
  width: 100%;
  height: 60px;
  position: relative;
  float: left;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 99999;
  transition: 0.5s;
  background: none;
}

nav:hover {
  background: white;
}

.drop {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -9999;
  display: none;
}

.relations {
  width: 100%;
  height: 100%;
  position: relative;
}

nav h1 {
  font-size: 1.5rem;
}

nav > ul {
  height: 100%;
}

nav > ul > li {
  display: inline-block;
  height: 100%;
  margin: 0 15px;
}

nav > ul > li > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav p button {
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  color: #bbb;
  cursor: pointer;
}

nav p button:focus {
  color: black;
}

.slide_container {
  width: 100%;
  height: 90vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}

.slider_item {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: 0.7s;
}

.slider_item img {
  width: 100%;
  height: 100%;
}

.showing {
  z-index: 999;
  opacity: 1;
}

.prev,
.next {
  background: black;
  outline: none;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  position: absolute;
  top: 300px;
  transform: translateY(-50%);
  z-index: 9999;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.nav_linkes {
  position: relative;
}

.nav_linkes:after {
  display: none;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  bottom: 0;
}

.nav_linkes:hover:after {
  display: block;
}

.img_con {
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 999999;
  font-size: 30px;
}

.img_con p {
  line-height: 50px;
}

.img_con button {
  width: 110px;
  height: 35px;
  background: #fff;
  color: black;
  border: none;
  outline: none;
  margin-top: 50px;
}

.megamenu {
  display: flex;
  padding: 0 50px;
  justify-content: center;
  position: absolute;
  top: 100%;
  height: 300px;
  width: 100%;
  background: #fff;
  z-index: 99999;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

.megamenu > ul:first-child {
  border-left: 1px solid #ddd;
}

.megamenu > ul {
  display: block;
  height: 100%;
  padding: 20px 45px;
  border-right: 1px solid #ddd;
}

.megamenu > ul > li:first-child {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.megamenu > ul > li {
  text-align: center;
  margin-bottom: 15px;
  font-size: 12px;
  color: #777;
}

.menu3 > ul > li:first-child {
  font-size: 12px;
}

.menu3 > ul > li {
  font-size: 8px;
}

section {
  width: 100%;
  height: auto;
  padding: 10px 80px 200px 80px;
  border-bottom: 1px solid #ddd;
}

.box_content1 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.box_child {
  width: 32%;
  height: 100%;
  padding: 30px 0 0;
}

.box_child:first-child a {
  color: #bbb;
  font-size: 11px;
}

.box_child:first-child span {
  display: block;
  margin: 30px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  color: black;
}

.box_child:nth-child(2) p:nth-child(2) {
  font-weight: 600;
  font-size: 35px;
  margin: 30px 0;
}

.box_child:nth-child(2) .time {
  color: #777;
}

.box_child:nth-child(2) p:nth-child(2) span {
  font-size: 25px;
  margin-left: 10px;
}

.box_child:last-child a {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  display: block;
  line-height: 30px;
}

.box_content2 {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.box_content2 a span {
  font-size: 16px;
  font-weight: 600;
  color: black;
  display: block;
  margin: 20px 0;
}

.box_content2 a {
  font-size: 11px;
  color: #777;
  line-height: 30px;
}

.box_childs {
  width: 33%;
  height: 100%;

  margin-right: 40px;
}

.childs_img {
  width: 100%;
  height: 60%;
  padding: 20px;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 100px;
  padding: 10px 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_box {
  display: flex;
  justify-content: space-between;
}

.click_btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

footer a {
  font-size: 14px;
  color: #777;
  margin-right: 15px;
}

footer button {
  display: inline-block;
  margin-right: 15px;
  color: #777;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
}

footer button span {
  display: inline-block;
  margin-left: 10px;
}

footer button:hover {
  color: black;
}

footer button:hover span {
  transform: rotate(180deg);
}

footer button:focus span {
  transform: rotate(180deg);
}

.footer_content1 button {
  padding: 12px 0px 0px;
}

.click_menu {
  position: absolute;
  display: none;
  width: 140px;
  border: 1px solid #ddd;
  left: 0;
  bottom: 100%;
  font-size: 12px;
  color: black;
  background: #fff;
  padding: 10px;
}

.click_menu a {
  display: block;
  padding: 10px 0px 10px 0px;
  text-align: left;
}

footer button:focus .click_menu {
  display: inline-block;
}

.slide_number {
  position: absolute;
  bottom: 150px;
  right: 150px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  z-index: 999999;
}
